body {
  background-color: darkgray;
  font-family: "Varela Round";
  margin: 0;
  box-sizing: border-box;
  display: flex;
}

h1 {
  width: 80%;
  color: white;
  padding-left: 50px;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: purple;
  justify-content: space-between;
  position: fixed;
  top: 0;
  box-shadow: 0 0 10px 0 black;
}

.navbar ul {
  color: darkgray;
  font-size: 20px;
  padding: 10px 20px;
  margin-right: 20px;
}

.navbar ul:hover {
  -webkit-box-shadow:inset 0px 0px 0px 2px #888;
  -moz-box-shadow:inset 0px 0px 0px 2px #888;
  box-shadow:inset 0px 0px 0px 2px #888;
  color: #292929;
}

.main-content {
  padding-top: 100px;
  background-color: silver;
  max-width:  1200px;
}

.about-section {
  display: flex;
  flex-direction: row;
}

hr {
  height: 5px;
  width: 600px;
  background-color: white;
  border: 0;
  border-radius: 30%;
}

.about-section {
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  padding: 50px;
}

.about-text {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  color: white;
  padding-top: 40px;
}

.titles {
  font-size: 24px;
}

.headshot {
  display: flex;
  padding: 0px 50px;
  max-height: 300px;
  max-width: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  width: 200px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

button {
  width: 60px;
}

.foot-section p {
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  background-color: silver;
  margin-bottom: 0;
}

.copy {
  height: 60px;
  background-color: purple;
  padding-top: 10px;
}

#copywrite {
  text-align: center;
}
